<html>
<body>
<p> -------------------- Factura Electronica -------------------- </p>
<p> ------------------------------------------------------------- </p>
<p> -- Usted viajara en:          - <strong> {{fclase}} </strong> -- </p>
<p> -- Utilizara servicio extra:  -  <strong>{{fservicio}}</strong> -- </p>
<p> -- Total Comida :             -Q <strong>{{fcomida}}</strong> -- </p>
<p> -- Total Bebida :             -Q <strong>{{fbebida}}</strong> -- </p>
<p> -- Total Pelicula :           -Q <strong>{{fpelicula}}</strong> -- </p>
<p> ------------------------------------------------------------- </p>
<p> ------------------------------------------------------------- </p>
<p> -- Subtotal:                  -Q <strong>{{fsubtotal}}</strong> -- </p>
<p> -- Descuento:                 -Q <strong>{{fdescuento}}</strong> -- </p>
<p> ------------------------------------------------------------- </p>
<p> ------------------------------------------------------------- </p>
<p> -- Total:                     -Q <strong>{{ftotal}}</strong> -- </p>
<p> Valor <strong>{{fcc1}}</strong> </p>
</body>
</html>